# Telegram Configuration
TELEGRAM_BOT_TOKEN=8890272332:AAHprBblI9WaahOIZrT23hJJZs1y1BFNohg
TELEGRAM_CHAT_ID=-5314819518

# Niagara oBIX Configuration
OBIX_URL=https://192.168.1.100/obix/config/Drivers/Pump/
OBIX_USERNAME=UserObix
OBIX_PASSWORD=UserObix12345
OBIX_ALLOW_SELFSIGNED_CERT=true

# Supabase Configuration
SUPABASE_URL=https://urnndyjtemzbjvjsbqyz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVybm5keWp0ZW16Ymp2anNicXl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0MDE4MjUsImV4cCI6MjEwMjk3NzgyNX0.Hq5xegqbeAYBAtgiGTv19b6t9Pz7Fqk4puDvDhEc0y0


# Polling Interval (in milliseconds)
POLL_INTERVAL_MS=3000

